<div style="text-align: center">
  <p-card header="Typing Game" subheader="write the sentence below as fast as you can" [style]="{ width: '40%',margin:'auto' }">

    <div style="padding: 1rem">
      <span [class]="compare(letter,enteredtext[i])"  *ngFor="let letter of randomText.split('');index as i">{{letter}}</span>
    </div>
    <input pInputText  style="width: 85%;margin-bottom: 1rem"  (input)="handleEvent($event.target['value'])"/>
    <ng-template pTemplate="footer" >
      <div *ngIf="randomText===enteredtext" class="complete" style="padding: 1rem;background-color: #599b1b;color: aliceblue">
        <h1>Bravo. You did it!!</h1>
      </div>
    </ng-template>
  </p-card>

</div>
